@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --text-color: rgb(237, 232, 226);
}

html {
    background-color: #1a1d25;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}

a {
    color: #ff6835;
}

.nav {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-icon {
    max-height: 50px;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -4px;
}

.homepage-content {
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: auto auto 30px auto;
}

.homepage-links {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    width: 100%;
}

.homepage-link-box {
    width: 100%;
    padding: 12px;
    background-color: #323744;
    border-radius: 16px;
    box-shadow: 2px 3px 1px #ff6835;
    transition: all 200ms;
}

.homepage-link-box:hover {
    transform: scaleX(1.02);
}

.homepage-link-box > a {
    text-decoration: none;
    color: var(--text-color);
}

.link-box-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.socials {
    margin-top: 10px;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.social-icon {
    color: #fce2d9;
    text-decoration: none;
    font-size: 22px;
    transition: transform 300ms;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.05);
}
